html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: lightgray;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Georgia', serif;
}

header {
  text-align: center;
}

.nw-box {
  background-color: #FFFFFF;
}

.nw-article-body {
  padding: 2vw;
}

article img {
  max-width: 100%;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer nav {
  padding: 5vw;
}

.nw-briefs {
  list-style: none;
  padding: 0;
}

.nw-briefs li {
  margin-bottom: 1rem;
}
