html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.app-chat {
  display: flex;
  padding: 1rem;
}

.app-chat-list .app-chat {
  border-bottom: solid 1px silver;
}

.app-chat-active {
  background-color: lightgray;
}

.app-chat-message {
  flex: 1;
}

.app-chat-avatar img {
  border-radius: 50%;
  width: 5rem;
  margin-right: 1rem;
}

.app-chat-window .app-chat-avatar img {
  width: 3em;
}

.app-chat-sender {
  font-weight: bold;
}

.app-chat-timestamp {
  color: gray;
}

.app-chat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: lightgray;
}

.app-chat-header {
  font-weight: bold;
}
