.app-chat {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr auto;
}

.app-chat-header {
  display: grid;
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .app-chat-window {
    display: none;
  }
}

@media only screen and (min-width: 901px) {
  .app-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
  }
}